body{
	background: #ecf0f1;
	color: #1b262c;
	font-family: 'Source Sans Pro', sans-serif;
	font-weight: lighter;
	font-size: 17px;
}

h1{
	font-family: font-family: 'Oswald', sans-serif;
	font-size:34px;
	font-weight: 600;

}

h2{
	font-family: font-family: 'Oswald', sans-serif;
	font-size:25px;
	font-weight: 400;
	text-decoration:underline;
}

a{
	width: 30px;
	font-family: font-family: 'Oswald', sans-serif;
	font-size:15px;
	font-weight: 400;
	text-decoration: none;
	color: #f4f7f7;
}
a:hover{
	background-color: #1f4e5f;
}


.container{
	width: 900px;
	margin:0px auto;
}
.card-grey{
	background-color:#7e97a6;
	padding: 30px;
	box-shadow: 0px 10px 30px rgba(0,0,0,0.1);
	border-radius: 15px;
	text-align: center;
	width: 850px;
	margin: 0 auto;
	margin-bottom: 50px;
}

#profilecircled{
	border-radius: 50%;
}

.btn{
	background-color: #c1c0b9;
	border-radius: 5px;
}


.card-picture{
	background-color:#7e97a6;
	text-align: center;
	width: 920px;
	border-radius: 15px;
	margin-bottom: 20px;

}

#sectionpicture{
	width: 100%;
	height: 60%;
	margin-bottom: 10px;
}

#picture-text{
	font-family: font-family: 'Oswald', sans-serif;
	font-size:35px;
	font-weight: 400;
	text-decoration: underline;

	margin-right: 10px;
}
@media(max-width: 960px) {
	.container{
		width: 700px;
	}
}

@media(max-width: 720px) {
	.container{
		width: 500px;
	}
}

@media(max-width: 540px) {
	.container{
		width: 300px;
	}
}

.list-inline {
	list-style: none;
	padding-left: 0px;
}

.list-inline>li {
	display: inline;
	padding: 0px 22px;
}

.btn{
	padding: 15px 20px;
}


